# CONFIG
set $mod Mod4

## WINDOWS
font pango:monospace 8
new_window pixel 2
floating_modifier $mod
focus_follows_mouse no

# BINDINGS

## WINDOWS
bindsym $mod+v split toggle
bindsym $mod+f fullscreen toggle
### FOCUS
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right
### MOVE
bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right
### WORKSPACE
bindsym $mod+1 workspace 1
bindsym $mod+2 workspace 2
bindsym $mod+3 workspace 3
bindsym $mod+4 workspace 4
bindsym $mod+5 workspace 5
bindsym $mod+Shift+1 move container to workspace 1
bindsym $mod+Shift+2 move container to workspace 2
bindsym $mod+Shift+3 move container to workspace 3
bindsym $mod+Shift+4 move container to workspace 4
bindsym $mod+Shift+5 move container to workspace 5

## TERMINAL
bindsym $mod+Return exec i3-sensible-terminal

## BRIGHTNESS
bindsym XF86MonBrightnessUp exec xbacklight +5
bindsym Shift+XF86MonBrightnessUp exec xbacklight +1
bindsym XF86MonBrightnessDown exec xbacklight -5
bindsym Shift+XF86MonBrightnessDown exec xbacklight -1

## SOUND
bindsym XF86AudioRaiseVolume exec "amixer -D pulse sset Master 5%+"
bindsym Shift+XF86AudioRaiseVolume exec "amixer -D pulse sset Master 1%+"
bindsym XF86AudioLowerVolume exec "amixer -D pulse sset Master 5%-"
bindsym Shift+XF86AudioLowerVolume exec "amixer -D pulse sset Master 1%-"
bindsym XF86AudioMute exec "amixer -D pulse sset Master toggle"

# MENU
set $i3menu "i3: [b]buffer [c]onfig d[menu] [r]esize [s]ystem [w]indow"
set $configmenu "config: [o]ffice"
set $resizemenu "resize: [h,j,k,l]"
set $runmenu "run: [c,C]hrome [e,E]client/daemon c[m]us my[p]aint [s]lack"
set $systemmenu "system: re[b]oot [c]reload [h]ibernate [l]ogout [p]oweroff [r]estart"
set $windowmenu "window: [h,j,k,l]focus [shift+h,j,k,l]move [f]ullscreen [r]esize [v]split [s,w,e]layout [q]uit"

mode $i3menu {
    bindsym d exec rofi -modi run -show; mode "default"
    bindsym b exec rofi -modi window -show; mode "default"

    # MODES
    bindsym c mode $configmenu
    bindsym s mode $systemmenu
    bindsym r mode $runmenu
    bindsym w mode $windowmenu

    bindsym Return mode "default"
    bindsym Escape mode "default"
}

mode $configmenu {
    bindsym o exec "emacsclient -c ~/office-config/"; mode "default"

    bindsym Return mode "default"
    bindsym Escape mode "default"
}

mode $resizemenu {
    bindsym h resize shrink width 10 px or 10 ppt
    bindsym j resize grow height 10 px or 10 ppt
    bindsym k resize shrink height 10 px or 10 ppt
    bindsym l resize grow width 10 px or 10 ppt

    bindsym Return mode "default"
    bindsym Escape mode "default"
}

mode $runmenu {
    bindsym c exec "google-chrome"; mode "default"
    bindsym Shift+c exec "google-chrome --incognito"; mode "default"
    bindsym e exec "emacsclient -c"; mode "default"
    bindsym Shift+e exec "emacs --daemon"
    bindsym m exec "gnome-terminal -e cmus"; mode "default"
    bindsym p exec "mypaint"; mode "default"
    bindsym s exec "slack"; mode "default"

    bindsym Return mode "default"
    bindsym Escape mode "default"
}

mode $systemmenu {
    bindsym b exec reboot; mode "default"
    bindsym c reload; mode "default"
    bindsym h exec "sudo pm-hibernate"; mode "default"
    bindsym l exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"
    bindsym p exec shutdown -h now; mode "default"
    bindsym r restart; mode "default"

    bindsym Return mode "default"
    bindsym Escape mode "default"
}

mode $windowmenu {
    bindsym h focus left
    bindsym j focus down
    bindsym k focus up
    bindsym l focus right

    bindsym Shift+h move left
    bindsym Shift+j move down
    bindsym Shift+k move up
    bindsym Shift+l move right

    bindsym v split toggle
    bindsym f fullscreen toggle

    bindsym s layout stacking
    bindsym w layout tabbed
    bindsym e layout toggle split

    bindsym p focus mode_toggle
    bindsym Shift+p floating toggle

    #bindsym $mod+a focus parent
    #rindsym $mod+d focus child

    bindsym q kill; mode "default"

    bindsym r mode $resizemenu

    bindsym Return mode "default"
    bindsym Escape mode "default"
}

bindsym Ctrl+space mode $i3menu

bar {
    status_command i3status
    tray_output primary
}
